{% extends 'base.html' %}

{% block content %}
<div class="product-list">
    <h1>Welcome to our Shop!</h1>
    <div class="product">
        <p>Item1</p>
        <a href="{{ url_for('add_to_cart', item='Item1') }}" class="btn">Add to Cart</a>
    </div>
    <div class="product">
        <p>Item2</p>
        <a href="{{ url_for('add_to_cart', item='Item2') }}" class="btn">Add to Cart</a>
    </div>
    <div class="product">
        <p>Item3</p>
        <a href="{{ url_for('add_to_cart', item='Item3') }}" class="btn">Add to Cart</a>
    </div>
</div>
{% endblock %}
